/* You can add global styles to this file, and also import other style files */
body{
    background-color: #04243c;
}
.card-header{
    background-color: grey;
    text-shadow: 2px solid;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}