<div class="container">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active"  routerLink="/JsFile" routerLinkActive="active">JavaScript</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/day1Js" routerLinkActive="active" >Day 12</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/day2Js" routerLinkActive="active" >Day 13</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/day3Js" routerLinkActive="active" >Day 14</a>
              </li>
         
          </ul>
        </div>
        <div class="card-body">
            <img class="img-fluid pt-5 mx-auto d-block rounded radix pb-5" style="height: 350px;" src="../../assets/img/js.png" alt="" >
         
        </div>
      </div>
    </div>
    
    <div class="m-5"></div>