<div class="resume">
    <header>
        <h1>Jay Prajpati</h1>

        <address>
            Vijapur, Gujarat-383870 | Mobile No.: 9586175499
        </address>
        <address>
            jayprajapati7085@gmail.com
        </address>
    </header>
    <hr>
    <section>
        <div id="objective">
            <h2>OBJECTIVE</h2>
            <p>
                "To explore the new areas and work in a dynamic stable organization."
                "Work for an organization which provides me the opportunity to improve my skills
                and knowledge to growth along with the organization"
            </p>
        </div>
    </section>
    <section id="Experience"class="block">
        <dl>
            <dt><h2>EXPERIENCE: </h2></dt>
            <dd><b><p>20 MARCH 2020 - 15 JUN 2020</p></b>
                <p><strong>INTERN,</strong> PRANAM IT SOLUTION</p>
                <p>3-month internship as a web designer</p>
            </dd>
        </dl>
    </section>
    <section id="Project"class="block">
       <dl>
           <dt> <h2>PROJECT:</h2></dt>
           <dd><p>
            <strong>HOME SURVEILLANCE ROBOT</strong>
        </p>
        <p>IOT PROJECT - RUNNING</p>
        <p> Surveillance and safety robot for home or office.</p>
    </dd>
       </dl>
    </section>
    <section id="Education" class="block">
      <dl>
          <dt>  <h2>EDUCATION:</h2></dt>
          <dd><b><p>March 2021</p></b>
            <p>
                <strong>COMPUTER ENGINEERING,</strong>Government Engineering College,Modasa
            </p>
            <p><strong>CPI</strong> (till 6<sup>th</sup> Semester): 6.65</p>
            <b> <p>March 2017</p></b>
            <p>
                <strong>12<sup>th</sup> SCIENCE,</strong>ASH SECONDRY SCHOOL & S.U.PATEL U.M. SHALA, VIJAPUR
            </p>
            <p><strong>PERCENTAGE</strong>: 74.33%</p>
            <b><p>March 2015</p></b>
            <p>
                <strong>10<sup>th</sup>,</strong>Patel R. K. Highschool, Ranasan
            </p>
            <p><strong>PERCENTAGE</strong>: 89.16%</p></dd>
      </dl>
    </section>
    <section id="skill" class="block">
        <h2>SKILLS:</h2>
        <table>
            <tr>
                <td>
                    <ul>
                        <li>C</li>
                        <li>Java</li>
                        <li>DBMS</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>HTML/CSS</li>
                        <li>JavaScript</li>
                        <li>Data Structure</li>
                    </ul>
                </td>
            </tr>
        </table>
        
    </section>
    <video controls src="./assets/VResume.mp4" id="myVideo"width="100%" poster="./assets/Screenshot (78).png" height="500px"></video>
</div>
