<h1>Responsive Photo Gallery</h1>
<div class="row">
    
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/8.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="2" width="100%">
        <img src="assets/images/5.jfif" alt="3" width="100%">
        <img src="assets/images/6.jfif" alt="4" width="100%">
        <img src="assets/images/3.jfif" alt="5" width="100%">
        <img src="assets/images/2.jfif" alt="1" width="100%">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/5.jfif" alt="3" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/8.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="2" width="100%">
        <img src="assets/images/5.jfif" alt="3" width="100%">
        <img src="assets/images/6.jfif" alt="4" width="100%">
        <img src="assets/images/3.jfif" alt="5" width="100%">
        <img src="assets/images/2.jfif" alt="1" width="100%">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/5.jfif" alt="3" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
    <div class="col-1">
        <img src="assets/images/1.jfif" alt="1" width="100%">
        <img src="assets/images/2.jfif" alt="2" width="100%">
        <img src="assets/images/3.jfif" alt="3" width="100%">
        <img src="assets/images/4.jfif" alt="4" width="100%">
        <img src="assets/images/5.jfif" alt="5" width="100%">
        <img src="assets/images/6.jfif" alt="1" width="100%">
        <img src="assets/images/7.jfif" alt="1" width="100%">
        <img src="assets/images/8.jfif" alt="1" width="100%">
    </div>
</div>