<section class="py-4 m-3 ">
    <nav class="navbar navbar-expand-md navbar-dark bg-success fixed-top py-1">
      <div class="container">
        <a class="navbar-brand" routerLink="/adminLogin" routerLinkActive="active">
              <img src="../assets/img/bb2.png" alt="" height="70" width="150" class="justify-center">
         </a>
          <button class="navbar-toggler" data-toggle="collapse"
          data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
          
          
         
        </div>
       
        <div class="collapse navbar-collapse m-2 " id="navbarNav" >
          <ul class="navbar-nav" *ngIf="!authenticated">
            <!-- <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li> -->
            <li class="nav-item ">
              <a class="nav-link" routerLink="home" routerLinkActive="active" >Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="login" routerLinkActive="active" *ngIf="!authService.loggedIn()">LogIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="register" routerLinkActive="active" *ngIf="!authService.loggedIn()">SignUp</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="adminLogin" routerLinkActive="active"  *ngIf="!authService.loggedIn()" >Admin</a>
            </li>

         
          
            <li class="nav-item">
              <a class="nav-link"  style="cursor:pointer;" *ngIf="authService.loggedIn()"  (click)="authService.logOut()">LogOut</a>

            </li>
          
          </ul>

          <!-- <ul class="navbar-nav" *ngIf="authenticated">
            <li class="nav-item">
              <a class="nav-link" routerLink="" routerLinkActive="active">Home</a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" routerLink="home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
            </li>
           
            <li class="nav-item">
              <button class="border-none nav-link bg-success" type="button" style="border: none;"  routerLinkActive="active" [class.d-none]="!userIsLoggedIn()" (click)="logout()">LogOut<span class="sr-only">(current)</span></button>
                <a class="nav-link"  routerLink="adminLogin" routerLinkActive="active" [class.d-none]="!userIsLoggedIn()"  (click)="logout()">LogOut</a>
              </li>
           
          </ul> -->
        </div>


      
       
    </nav>
    </section>
