<div class="row">
    <div class="col-1 navigation">
        <uL>
            <li>tab 1</li>
            <li>tab 1</li>
            <li>tab 1</li>
            <li>tab 1</li>
            <li>tab 1</li>
        </uL>
    </div>
    <div class="col-2">
        <h1>Media Query Breakpoin</h1>
        <p>This is a paragraph to show the responsiveness of the page.
            Try to resize of the page and watch the difference between 
            different viewports
        </p>
    </div>
    <div class="col-3">
        <h1>Media Query Breakpoin</h1>
        <p>This is a paragraph to show the responsiveness of the page.
            Try to resize of the page and watch the difference between 
            different viewports
        </p>
    </div>
    
</div>