body{
    margin: 0px;
    font-family: sans-serif;
     background-color: #dddddd;
}
*{
    box-sizing: border-box;
}
.container{
    max-width: 1140px;
    background-color: #ffffff;
    height: 700px;
    margin: 20px auto ;

}