<section class="py-5 m-3 ">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1">
    <div class="container">
      <p>
            <img src="../assets/img/ng.png" alt="" height="50" width="50"><h3 class="d-inline align-middle text-light ">
                ssignment Day2
            </h3>
          </p>
        <button class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
      </div>
       
  </nav>
  </section>

  <section>
    <app-student-list></app-student-list>
  </section>
