*{
    font-family: Arial, Helvetica, sans-serif;
    color: honeydew;
    /* background-color: rgb(219, 239, 255); */
}
body{
    /* background-color: rgb(163, 179, 196); */
}
.resume{
    /* background-color: #a1d1ba; */
    background-image: url("./assets/1.jpg");
    background-repeat: repeat;
    background-size: 100%;
    background-attachment: fixed;
    margin:auto;
    width: 75%;
    border: 1px solid rgba(99, 99, 99, 0.637);
    border-radius: 10px;
    /* box-shadow: 5px 5px 5px  #e7e7e7; */
    padding: 0 50px 0 50px;
}
.resume h1{
    text-align: center;
    font-size: 60px;
    padding-top: 15px;
    padding-bottom: 0;
    margin: 5px;
    color: rgb(255, 255, 255);
}
.resume h1,h2{
    text-transform: uppercase;
}
#objective{
    text-align: center;
    margin-bottom: 50px;
    color: green;
}
#objective h2{
    font-weight: bold;
    text-decoration: underline;
}
#myVideo{
    border: 1px solid rgba(184, 184, 184, 0.582);
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 40px;
    margin-top: 30px;
}
.block{
    background-image: url("./assets/2.jpg");
    background-attachment: fixed;
    /* border: 1px solid rgba(63, 61, 61, 0.521); */
    margin: 20px;
    padding: 15px;
    /* background-color: rgb(208, 220, 231); */
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0px 5px 0px 5px rgba(181, 189, 189, 0.438);
}
.block:hover{
    padding: 20px;
    box-shadow: 0px 5px 0px 5px rgba(138, 141, 141, 0.438);
}
.block strong{
    color: rgb(77, 204, 77);
}
.block h2{
    color: rgb(115, 211, 115);
}
header address{
    text-align: center;
    color: rgb(226, 226, 226);
}
#Experience{


}
#Project{

}
#Education {

}
#skill ul li{
    padding-bottom: 5px;
    padding-left: 10px;
    margin-left: 20px;
}
#skill table{
    width: 100%;

}