<section class="py-0 m-3 ">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1">
    <div class="container">
      <p>
            <img src="../assets/img/ng.png" alt="" height="50" width="50"><h3 class="d-inline align-middle text-light ">
                ssignment Day13
            </h3>
          </p>
        <button class="navbar-toggler" data-toggle="collapse"
        data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
        <h5 class="text-light">  Child Component to Parent Component 
        <h5 class="text-light">  Parent Component to Child Component </h5>

        </h5>
        
      </div>
     

    
     
  </nav>
  </section>

     <div>  
          <app-student (userData) = "AddData($event)"></app-student>  
          <app-student-list [listValue] = "listData"></app-student-list>  

    </div>  