*{
  margin:0;
  padding: 0;
}
.nav-link {
  color: #064420 !important;
  font-size:medium!important;
  font-weight: bold;
  opacity: 0.7;
}

  
  .nav-link:hover {
    opacity: 1.5;
  }
  
  .nav-link::before {
      
    transition: 1s;
    height: 5px !important;
    content: "";
    position: absolute;
    background-color: #031D44 !important;
  }
  
  
  .btn-primary:hover{
      color: black;
      background: transparent !important;
      font-weight: bold;
  }
  .btn-secondary:hover{
    color: black;
    background: transparent !important;
    font-weight: bold;
  }
#dropdownMenuButton{
  background: transparent;
  outline: none;
  color: #064420;
  border: none;
  border-style: none;
  font-weight: bold;
  opacity: 0.7;
}

#dropdownMenuButton:hover{
  opacity: 1;
}

.editProfile{
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
#spans{
  margin-left: 1000px;
}

}
a{
  color:#064420
}