<div class="container-fluid pt-3">
    <!-- <p>profile works!</p> -->
<!-- {{currentUser | json}} -->

<nav class="navbar navbar-expand-md navbar-light">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link p-2" routerLink="/profile/userProfile" routerLinkActive="active-item">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link p-2" routerLink="/profile/bookmarked" routerLinkActive="active-item">Bookmarked</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="/profile/activity" routerLinkActive="active-item">Activity</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link " routerLink="/profile/developStory" routerLinkActive="active-item">Developer Story</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link p-2" routerLink="/profile/editProfile" routerLinkActive="active-item">Edit Profile and Settings</a>
          </li>
      </ul>
      
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>