$form-bg-color: #f5faae;
$form-width: 400px;
$card-bg: lightyellow;

.card {
  font-weight: bold;
  color: black;
  margin: 10px;
  border-radius: 25px;

  > .card-title {
    border-top-left-radius: 25px;
  }
}

.blink {
  animation: blinker 1s ease-in-out infinite alternate;
}
@keyframes blinker {
  to {
    opacity: 0;
  }
}
