<section class="py-5 m-3 ">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1">
  <div class="container">
    <p>
          <img src="../assets/img/21.jpg" alt="" height="50" width="50"><h3 class="d-inline align-middle text-light">
              ractice Day1
          </h3>
        </p>
      <button class="navbar-toggler" data-toggle="collapse"
      data-target="#navbarNav"><span class="navbar-toggler-icon"></span></button>
    </div>
     
</nav>
</section>

<!--card-->
<section class="py-5">
<div class="container">
  <div class="row">
      <div class="col-md-9">
<div class="card">
  <div class="card-header bg-warning">
    <!--1.-Create Hello World Component and call the helloWorld Component in the App Component.-->
    <app-hello-world></app-hello-world>
  </div>
  <div class="card-body">
    <h5 class="card-title">Write ur Name Above:</h5>
    <p class="card-text bg-primary text-light h5">Here I have a Create one textbox in Helloworld component. That Bind its value to name variable.</p>


    <button (click)="showAlert();" class="btn btn-danger">Click Now</button>
  </div>
</div>
</div>
</div>
</div>
</section>

<!---Calculator-->

<section class="py-5">
  <div class="container">
    <div class="row">
        <div class="col-md-9">
  <div class="card">
    <div class="card-header bg-secondary h1 font-weight-bold">
      <!--1.-Create Hello World Component and call the helloWorld Component in the App Component.-->
      Calculator!
    </div>
    <div class="card-body">
      <h5 class="card-title text-center">Write Your Two Values </h5>
<app-calculator></app-calculator>  
  
      <button (click)="showAlert();" class="btn btn-danger">Click Now</button>
    </div>
  </div>
  </div>
  </div>
  </div>
  </section>


