<div class="container">
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link active"  routerLink="/htmlFile" routerLinkActive="active">Hrml</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/day1Html" routerLinkActive="active" >Day 1</a>
        </li>
     
      </ul>
    </div>
    <div class="card-body">
        <img class="img-fluid pt-5 mx-auto d-block rounded radix pb-5" src="../../assets/img/html.png" alt="" >
        <router-outlet></router-outlet>
    </div>
  </div>
</div>

<div class="m-5"></div>