<div class="row no-gutters">
    <div class="col-md-8 p-0">

      

<div class="container">
    <h3>Create Sales Here</h3>
            <form [formGroup]="saleForm">
                <div class="form-group">
                  <label for="catid">Email Sale Id</label>
                  <input type="text" class="form-control" formControlName="sId">
                </div>
                <div class="form-group">
                    <label for="catid">Email Product Id</label>
                    <input type="text" class="form-control" formControlName="pId">
                  </div>
                <div class="form-group">
                  <label for="catName">Enter Product Qty</label>
                  <input type="number" class="form-control"  formControlName="pQty">
                </div>
                <div class="form-group">
                    <label for="catName">Discount</label>
                    <input type="number" class="form-control"  formControlName="dis">
                  </div>

                  <div class="form-group">
                    <label for="catName">Gross Amount</label>
                    <input type="number" class="form-control"  formControlName="grossAmt">
                  </div>
                  <div class="form-group">
                    <label for="catName">Enter Invoice date</label>
                    <input type="date" class="form-control"  formControlName="invDate">
                  </div>
                  <div class="form-group">
                    <label for="catName">Enter Product Price</label>
                    <input type="number" class="form-control"  formControlName="ProdPrice">
                  </div>
                  <div class="form-group">
                    <label for="catName">Enter CustomerId</label>
                    <input type="number" class="form-control"  formControlName="customerId">
                  </div>
                  <div class="form-group">
                    <label for="catName">Enter Shipped Address</label>
                    <input type="text" class="form-control"  formControlName="shipAddress">
                  </div>
                  <div class="form-group">
                    <label for="catName">Tax</label>
                    <input type="number" class="form-control"  formControlName="tax">
                  </div>
                  <div class="form-group">
                    <label for="catName">Enter Invoice amount</label>
                    <input type="number" class="form-control"  formControlName="invAmount">
                  </div>
              
                <button (click)="SubmitData()" type="submit" class="btn btn-primary">Submit</button><br><br>
                    <button (click)='update()' class="btn btn-outline-secondary btn-lg btn-block" >Update</button>
              </form>
      

    </div>
</div>

<!-- {{BrandList|json}} -->
    <div class="col-md-4 p-0 m-0">
        <div class="card m-2">
            <div class="card-header">
                Table to see All Sales
            </div>
            <div class="card-body table-responsive box1">

                <table class="table">
                    <tbody *ngFor='let sale of saleList; let idx= index;'>
                        <tr>
                            <th>Sale Id</th>
                            <td> {{sale.id}} </td>
                        </tr>
                        <tr>
                            <th>Product Id</th>
                            <td> {{sale.productId}} </td>
                        </tr>
                        <tr>
                            <th>Product Qty</th>
                            <td> {{sale.productQty}} </td>
                        </tr>
                        <tr>
                            <th>Discount</th>
                            <td> {{sale.discount}} </td>
                        </tr>

                        <tr>
                            <th>Gross Amount</th>
                            <td> {{sale.grossAmount}} </td>
                        </tr>
                        <tr>
                            <th>Invoice Datae</th>
                            <td> {{sale.invoiceDate}} </td>
                        </tr>
                        <tr>
                            <th>Product Price</th>
                            <td> {{sale.productPrice}} </td>
                        </tr>
                        <tr>
                            <th>Cust Id</th>
                            <td> {{sale.custId}} </td>
                        </tr>
                        <tr>
                            <th>Shipped Address</th>
                            <td> {{sale.shippedAddress}} </td>
                        </tr>
                        <tr>
                            <th>taxes</th>
                            <td> {{sale.taxes}} </td>
                        </tr>
                        <tr>
                            <th>Invoice Amount</th>
                            <td> {{sale.invoiceAmount}} </td>
                        </tr>

                        <tr>
                            <td><button class="btn btn-dark" (click)= 'edit(sale)' > Edit </button> </td>
                            <td> <button class="btn btn-danger" (click)= 'delete(sale.id)'> Delete </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>


