<header class="main-header py-2 text-white" style="background-color: #93ee7c;">
    <div class="container">
        <div class="row">
                <h1 class="text-dark py-1 h3 font-italic">
                </h1>
        </div>
    </div>

</header>


<div class="card m-2">
    <div class="card-header">
        Your Orders
    </div>
    <div class="card-body table-responsive box1">

        <table class="table">
            <tbody *ngFor="let sale of saleDetailList">
                
                <tr>
                    <th>Product Name</th>
                    <td> {{sale.productName}} </td>
                </tr>

                <tr>
                    <th>Product Price</th>
                    <td> {{sale.productPrice}} </td>
                </tr>
               
                <tr>
                    <th>Product Quantity</th>
                    <td> {{sale.productQty}} </td>
                </tr>
                <tr>
                    <th>Invoice date</th>
                    <td> {{sale.invoiceDate}} </td>
                </tr>
                <tr>
                    <th>Shipped Address</th>
                    <td> {{sale.address}},  {{sale.cityName}}, {{sale.countryName}} </td>
                </tr>
                <tr>
                    <th>Invoice Date</th>
                    <td> {{sale.invoiceDate}} </td>
                </tr>
                <tr>
                    <th>Invoice amount</th>
                    <td> {{sale.invoiceAmount}} </td>
                </tr>
              
                <tr>
                    <td colspan="2" class="p-3 bg-light"></td>
                </tr>
            </tbody>
        </table>
    </div>

</div> 
