
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header bg-danger">
<h6 class="display-4 ">Login</h6>
          </div>
          <div class="card-body" style="height: 435px;">

            
                <div class="form-group">
                  <small id="emailHelp" class="form-text text-muted h5">We'll never share your email with anyone else.</small><br>
                  <label for="exampleInputEmail1" class="font-weight-bold h5">Email address</label>
                  <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="fname">
                  <small id="emailHelp" class="form-text text-muted h5">But we know you so Email is admin</small>
<br>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="font-weight-bold h5">Password</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [(ngModel)]="pwd">
                  <small id="pwdHelp" class="form-text text-muted h5">But we know you so Password is admin</small>

                </div>
                <br>
               
                <button (click)="login()" type="submit" class="btn btn-primary">Submit</button>
      
          
        
        
        </div>
        </div>

      </div>
          </div>
  </div>

