<div class="container-fluid pt-2">
    <div class="display-4 py-2">Users</div>
    <div class="row">
        <div class="col-md-8">
            <form class="form-inline my-2 my-lg-0 d-none d-lg-block ml-auto">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
        </div>
        <div class="col-md-4"></div>
    </div>
    <hr>
    <div class="row " >
        <div class="col-md-3 border-bottom pb-2 mb-2"*ngFor="let user of users">
            <div class="row ">
                <div class="col-3 justify-content-center">
                    <a href="" class="text-info h1 text-center"><img src="../../assets/Images/avatar.png" alt="" width="50px"></a>
                </div>
                <div class="col-9">
                    <a class="nav-link rounded text-info pb-0 mb-0" routerLink="/users/{{user.userId}}">{{user.fullName}}</a>
                    <p class="pl-3 py-0 my-0">{{user.location}}</p>
                    <p class="pl-3 py-0 my-0">{{user.reputation}}</p>
                    <p class="pl-3 py-0 my-0">{{user.title}}</p>     
                </div>
            </div>
        </div>
        
    </div>
    <!-- {{users | json}} -->
</div>
