


<div class="row row-cols-1 row-cols-md-2 m-2">
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c1.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Category</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/category">View</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/6546.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Brand</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/brand">View</button>

        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c3.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Products</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/product">View</button>

        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c2.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Sale</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/sale">View</button>

        </div>
      </div>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-2 m-2">
    <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/co2.jpg" class="card-img-top" alt="..." height="250px" width="50px">
      <div class="card-body">
        <h5 class="card-title">Country</h5>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/country">View</button>
      
      </div>
    </div>
  </div>

    <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/co3.jpg" class="card-img-top" alt="..." height="250px" width="50px">
      <div class="card-body">
        <h5 class="card-title">City</h5>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/city">View</button>
        
      </div>
    </div>
  </div>
</div>



  <div class="row row-cols-1 row-cols-md-2 m-2">
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/cart.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Cart</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/cart">View</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/customer.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Customer</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/customer">View</button>

        </div>
      </div>
    </div>
   
  </div>


  <h2 class="text-center font-italic h3 text-secondary">Explore More Details View</h2><hr>
  <div class="card-group m-4">
  
   
      <div class="card">
        <img src="../../../assets/img/product.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title">Products Detail View</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/prodetail">View</button>
        </div>
      </div>
  
      <div class="card">
        <img src="../../../assets/img/custo.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title"> Sale Customer Details View</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/saleCust">View</button>

        </div>
      </div>

      <div class="card">
        <img src="../../../assets/img/456.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title"> Sale  Details View</h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/saledetail">View</button>

        </div>
      </div>
    
    </div>
   