


<div class="row row-cols-1 row-cols-md-2 m-2">
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c1.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-list font-weight-bold "> Category</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/category">View</button>
        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/6546.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-th-large font-weight-bold"> Brand</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/brand">View</button>

        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c3.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-product-hunt font-weight-bold"> Product</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/product">View</button>

        </div>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <img src="../../../assets/img/c2.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-bar-chart font-weight-bold"> Sale</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/sale">View</button>

        </div>
      </div>
    </div>
  </div>


  <div class="row row-cols-1 row-cols-md-2 m-2">
    <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/co2.jpg" class="card-img-top" alt="..." height="250px" width="50px">
      <div class="card-body">
        <h5 class="card-title h4"><i class="fa fa-hospital-o">  Country</i></h5>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/country">View</button>
      
      </div>
    </div>
  </div>

    <div class="col mb-4">
    <div class="card">
      <img src="../../../assets/img/co3.jpg" class="card-img-top" alt="..." height="250px" width="50px">
      <div class="card-body">
        <h5 class="card-title h4"><i class="fa fa-subway"> City</i></h5>
        <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/city">View</button>
        
      </div>
    </div>
  </div>
</div>



  
     


  <h2 class="text-center font-italic h3 text-secondary">Explore More Details View</h2><hr>
  <div class="card-group m-4">
  
   
      <div class="card">
        <img src="../../../assets/img/product.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-dedent"> Products Detail View</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/prodetail">View</button>
        </div>
      </div>
  
      <div class="card">
        <img src="../../../assets/img/customer.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-users"> Customers</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/customer">View</button>

        </div>
      </div>
   
     

      <div class="card">
        <img src="../../../assets/img/456.jpg" class="card-img-top" alt="..." height="250px" width="50px">
        <div class="card-body">
          <h5 class="card-title h4"><i class="fa fa-line-chart"> Sale  Details View</i></h5>
          <button type="button" class="btn btn-outline-success btn-lg btn-block" routerLink="/admin/dashboard/saledetail">View</button>

        </div>
      </div>
    
    </div>
   