<div class="container ">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active" routerLink="/htmlFile" routerLinkActive="active">Html</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/day1Html" routerLinkActive="active" >Day 1</a>
            </li>
         
          </ul>
        </div>
        <div class="card-body body">
            
            <h2 class="display-4 text-light text-center" text-light text-center>Student Report Card</h2>
            <h2 class="display-4 text-light text-center">C.U.Shah University</h2>


            <h2 class="text-center text-danger">Deatil Informations</h2>
<table class="mx-auto" border="1px">
    <tr>
        <th class="bg-warning">Name:</th>
        <th class="bg-warning">Parth J Shah</th>
    </tr>
    <tr>
        <td>Enrollment no:</td>
        <td>17TE403004</td>
    </tr>
    <tr> 
        <td>Year of Passing:</td>
        <td>2020</td>
    </tr>
</table>
<h2 class="text-center text-danger">Report Card</h2>
    <table class="student mx-auto" border="1px">
        <thead>
          <tr>
            <th class="bg-warning">Sr.no</th>
            <th class="bg-warning">Subject Name</th>
            <th class="bg-warning">Grades</th>
          <tr>  
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Computer Graphics</td>
                <td>A1</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Fundamentals of Web Designing </td>
                <td>A2</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Android Application</td>
                <td>B1</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Java</td>
                <td>B2</td>
            </tr>
            <tr>
                <td>5</td>
                <td>service Oriented Architecture</td>
                <td>A1</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Maths 3</td>
                <td>A2</td>
            </tr>

        </tbody>
    <tfoot>
      <tr>
        <td>CGPA: 8.86 </td>
        <td>SGPA: 9.96 </td>
        <td>Total No.Of Backlogs:0</td>
      </tr>
    
</table>  

<table class="mx-auto">
  <tr>
    <th class="bg-warning">Signature of Head of department</th>
    <th class="bg-warning">signature of Exam Head</th>
  </tr>
  <tr>
    <td class="pb-4"></td>
    <td class="pb-4"></td>

  </tr>
</table>

<!-- //menu assignment -->

<h2 class="display-3 text-white text-center">Menu Buttons Introduce</h2>
<nav class="menutag">
<a href="HR.html" target="_blank">Home</a> |
<a href="login.html" target="_blank">About us</a> |
<a href="studet_report_card.html" target="_blank">Conatct us</a> |

</nav>

    <div class="row d-flex justify-content-center">

        <!--Grid column-->
        <div class="col-md-5">
      

<article  style="width: 400px; border: 2px solid gray;  
    padding: 10px; border-radius: 10px;  
                    margin:5px;"> 
<img class= "img-fluid mx-auto d-block" src="../../assets/img/article.jpg" alt="" margin="24px 0 12px" width="300" height="300">
<h1 class="text-center text-secondary"> Sensex rises 359 points to hit fresh closing high; Nifty end.</h1> 
<p class=" text-center text-light">
NEW DELHI: Equity indices continued to surge for the fourth session on Thursday with the benchmark BSE sensex rising over 
350 points led by gain in banking and FMCG stocks.

After scaling an intra-day high of 50,212, the 30-share BSE index surged 359 points or 0.71 percent to finish at 
fresh pek of 50,0164
</p>
</article>
</div>


</div>
     

<!-- Hr manager list -->

<h1 class="display-4 text-center text-light">Below are the staffs list of Radix Web</h1>    
        
            <dl>
                <h1 class="text-center " style="color: blue"><dt>Divyesh Patel</dt></h1>
                <dd class="text-center" style="color: blanchedalmond;">- CEO of Radix web</dd>
            </dl>
      
        <div class="urdiv border border-dark bg-warning m-3 text-left h6">
      
            <ol>
                <li>Parth Shah: HR Manager
            
             <ol type="i">
                <li>Veena Dave: Assistant Hr Manager</li>
                <li>Dhairya Shah: Technical Hr Manager</li>
                <li>Raj Jarsaniya: Finance Hr Manager</li>
            </ol>
        </li><br>
                <li>Kush Shah : Opeartion Head</li>
                <ol type="i">
                <li>Hansraj: Training Department</li>
                <ul>
                    <li>Aayushi shah : Trainee teacher</li>
                    <li>Kiran Kumar  : Trainee teacher</li>
                </ul>
                <li> Hiren Mehta : Assistant of opration head</li>

                </ol><br>

              <li>Jayesh Shah : Bussiness Head</li>
              <ol type="i">
                  <li>Bhavesh Parmar : assistant</li>
                  <li>Gautam Shah    : finance head</li>
                  <ul>
                      <li> Dravid: Assistant at finance department</li>
                      <li>Ganguly : Assistant at finance department</li>
                    
                  </ul>
                  </ol><br>

                  <li>Bharat Parmar : Market Executive</li>
                  <ol type="i">
                      <li>Nandini Parmar: Assistant Sales representer 
                      </li>
                      <ul>
                          <li>Hetvi Parmar : sales Repreenter</li>
                        </ul>
                    
                  </ol>
                  </ol>
                </div>
    










        </div>
      </div>
    </div>

    <div class="m-5"></div>