div{
    display: inline-block;
}
.div1{
    background-color: cyan;
    height: 150px;
    width: 250px;
    margin: 10px;
}
.div2{
    background-color: rgb(152, 248, 108);
    height: 150px;
    width: 250px;
    margin: 10px;
}
.div3{
    background-color: rgb(236, 165, 117);
    height: 150px;
    width: 250px;
    margin: 10px;
    padding: 25px;
}
.div4{
    background-color: rgb(247, 158, 235);
    height: 150px;
    width: 250px;
    margin: 10px;
    padding: 25px;
    border: 25px solid crimson;
}
h2{
    color: crimson;
    text-align: center;
    margin-top: 50px;
}
.flex-container {
    display: flex;
    background-color: darkcyan;
}
  
.flex-container div {
    background-color: #f5c8c8;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.flex-container-columns {
    display: flex;
    flex-direction: column;
    background-color: darkcyan;
}
.flex-container-columns div {
    background-color: #f5c8c8;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
.flex-container-reverse {
    display: flex;
    background-color: darkcyan;
    flex-direction: row-reverse;
}
.flex-container-reverse div {
    background-color: #f5c8c8;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
}
  