body{
    font-family: "Lucida Sans", sans-serif;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #07afa4;
    color: white;
    padding: 10px;
    z-index: 1;
}
img{
    display: inline-block;
    height: 50px;
    width: 50px;
}
.nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #07afa4;
}
.nav li a:hover {
    text-decoration: underline;
} 
.nav li {
    float: left;
}
  
.nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.collapsible {
    background-color:white;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: 1px solid black;
    text-align: left;
    outline: none;
    font-size: 18px;
  }
  
  .active, .collapsible:hover {
    background-color: lightblue;
  }
  
  .content {
    padding: 0 0 2px 10px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }
  li{
    margin: 5px 5px 0px 5px;
  }
  li:hover{
    cursor: pointer;
    text-decoration: underline;
    margin: 5px 5px 0px 5px;
  }

iframe{
    height: 535px;
    width: 1010px;
    display: inline-block;
    margin: 10px;
    margin-top: 75px;
}

.footer {
    margin-top: 50px;
    background-color: gray;
    color: #ffffff;
    font-size: 12px;
    padding: 15px;
}
.footer p{
    text-align: center;
    font-size: 15px;
    width:100%;
}
.center{
    text-align: center;
}