* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color:yellow;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background: lavender;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.showData  {
  align:center;
  margin: auto;
  width: 80%;
  text-align: center;
  color:Teal ;
}

#students {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
  color:green
}

#students > section {
  background: teal;
  padding: 10px;
  border-radius: 5px;
  color: White;
}

#students.hover{
  box-shadow:2px 5px 10px rgba(0, 0, 0, 0.3);
}

#students >section  .img {
  border-radius: 0.3rem;
  position: relative;
  top: -25px;
  width: 200px;
}

@media (min-width:768px){
  #students{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem
  }
}

@media(min-width:992px){
  #students{
    display: grid;
    grid-template-columns: repeat(3, 1fr)
  }
}

/* @media(min-width:540px){
 #students{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem
  } 
} */