body,html{
    margin:0px;
    padding:0px;
}
header{
    width: 100px;
    height: 70px;
    background-color: #282828;
}
h1{
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-family: 'alfa slab one',cursive;
    color: #39ca74;
}

span{
    color: #ffffff;
}
ul{
    width: auto;
    float: right;
    margin: top 8px;
}
li{
    display: inline-block;
    padding: 15px 30px;
}
a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    font-family: 'open sans', sans-serif;
    font-size: 1.2vw;
}
a:hover{
    color: #f0c330;
    transition: 0.5s;
    
}
img{
    width: 10%;
    margin-top: -16px;

}

