* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.student {
  position: relative;
  background: #eeeeee;
  width: 25rem;
  padding: 1rem;
  margin: 2.2rem auto;
  border-radius: 0.3rem;
  text-align: center;
  border: 1px solid black;
  transition: all 0.3s linear;
}
img#p1 {
  position: relative;
  border-radius: 50%;
  border: 0.1rem solid teal;
  margin-top: 0px;
  float: left;
  width: 80px;
}
img#p2 {
  position: relative;
  border-radius: 50%;
  border: 0.1rem solid teal;
  margin-top: 0px;
  float: right;
  width: 80px;
  height: 80px;
}

p {
  color: red;
  margin-bottom: 50px;
}

.student:hover {
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.student h4 {
  text-transform: capitalize;
  margin: 0.5rem 60px;
  letter-spacing: 0.15rem;
  color: rgb(21, 168, 168);
}

@media screen and (min-width: 768px) {
  .student-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

@media screen and (min-width: 992px) {
  .student-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
