
body{
    background-color: black; 
}  
header{
    background-color:black;
}
header .logo{
    font-size: 10ch;
    position:fixed;
    top: 10px;
    left: 130px;
    color: white;    
    width: 100%;    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav{
    background-color: black;
}
li{
    float: left;
}
 ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}
  li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
  li a:hover {
        background-color: #111;
    }
  .sidebar {
        height:100%;
        width: 100%;
        position: fixed;
        top: 150px;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        color: rgb(71, 71, 71);
        font-size: 22px;      
        display: flex;
        z-index: -1;         
    }
  .sidebar frame {
        font-size: 22px;
        display: flex;
    }
  .sidebar frame:hover {
        color: #f1f1f1;              
    }
  .frame{
        position: fixed;
        top: 170px;
        left: 160px;
        height: 100%;
        right:0;
        background-color: black;
    
    }   
  footer {
        text-align: center;
        padding: 3px;
        background-image: linear-gradient(black,rgb(54, 54, 54),black);
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    