
    .h{
        background-color:black;
        border: 5px solid;
        

        
        
    }
    body{
      background-color: black;
      
    }
  .d{
        font-size: 10ch;
        position:fixed;
        top: 10px;
        left: 130px;
        color: white;    
        height: 100%;
        width: 100%;    
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
  li{
        float: left;
    }
  ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
  li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
  li a:hover {
        background-color: #111;
    }
  .sidenav {
        height:100%;
        width: 100%;
        position: fixed;
        
        top: 50;
        left: 15;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        color: rgb(126, 69, 23);
        font-size: 22px;      
        display: flex;
    flex-wrap: wrap;          
    }
  .sidenav a {
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 22px;
        color: #818181;
        display: block;
    }
  .sidenav a:hover {
        color: #f1f1f1;              
    }
  .a{
        position: fixed;
        top: 180px;
        left: 150px;
        
        height: 100%;
        right:0;
    
    }
    
  }
     
  footer {
        text-align: center;
        padding: 3px;
        background-image: linear-gradient(black,rgb(54, 54, 54),black);
        color: white;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    