
         <div>  
                   
    <input type="number" class="form-control" placeholder="Type ID..."  [(ngModel)]="Id" />      

               <input type="text" class="form-control" placeholder="Type UserName..." [(ngModel)]="Name" />      


<button type="button" class="btn btn-success margin10px" (click)="AddMessage()">add</button>
             
<!--                <button type="button" class="btn btn-success margin10px" (click)="RemoveMessage()">remove</button>   -->
      </div>  

