#main{
    border: 2px solid black;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    background-color: rgb(118, 95, 160);
}
#div1{
    
    display: inline-block;
    height:200px;
    width:200px;
    border: 2px solid black;
    background-color: rgb(123, 219, 174);
}
#div2{
    display: inline-block;
    height:200px;
    width:200px;
    border: 2px solid black;
    background-color: rgb(99, 216, 187);
}
#div3{
    display: inline-block;
    height:200px;
    width:200px;
    border: 2px solid black;
    background-color: rgb(115, 221, 189);
}