<!-- <section>
    <div class="container border border-danger my-5">
      <div class="row">
        <div class="card">
          <div class="card-header bg-danger">
          <h6 class="display-4 ">Login</h6>
          </div>
          <div class="card-body" style="height: 435px;">
        <div class="col-8">
          <div class="m-3">
          <h4 class="font-italic text-primary"> Enter the value of Radius:   <input type="number" class="m-2" [(ngModel)]="r"><br></h4>
        </div>
        </div>
        </div>
        </div>
        <div class="col-4">
          
          <div class="card m-4">
            <h5 class="card-header bg-danger" id="circle">Answer</h5>
            <div class="card-body">
              <h5 class="card-title">Area of Circle is :</h5>
              <p class="card-text h4">{{an}}</p>
              <button (click)="cir()" type="submit" class="btn btn-primary">Calculate</button>
            </div>
          </div>
        
        </div>
      </div>
    </div>
  </section> -->

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header bg-danger">
  <h6 class="display-4 ">Area of Circle</h6>
            </div>
            <div class="card-body" style="height: 270px;">
              
              <h4 class="font-italic text-primary"> Enter the value of Radius:   <input type="number" class="m-2" [(ngModel)]="r"><br></h4>
             
              <br>
              <br>
              <br>
                  <h5 class="card-title" >Area of Circle is :</h5>
                  <p class="card-text h4">{{an}}</p>
                  <button (click)="cir()" type="submit" class="btn btn-primary" >Calculate</button>
              
  
              </div>
              </div>
              </div>
              </div>
              </div>
  </section>
  