<div class="container">
    <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link active"  routerLink="/cssFile" routerLinkActive="active">Css</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/day1Css" routerLinkActive="active" >Day 2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/day2Css" routerLinkActive="active" >Day 3</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/day3Css" routerLinkActive="active" >Day 4</a>
              </li>
         
          </ul>
        </div>
        <div class="card-body">
            <img class="img-fluid pt-5 mx-auto d-block rounded radix pb-5" style="height: 350px;" src="../../assets/img/2.png" alt="" >
         
        </div>
      </div>
    </div>
    
    <div class="m-5"></div>