<div class="row mt-5">
    <div class="col-md-3">
        <section class="py-4">
            <div class="container">
                <h4 class="text-light text-center align-middle">Assignment</h4>
                <div class="sidebar">

                        <div class="list-group text-center py-2">
                            <h5 class="list-group-item bg-dark text-light ">Assignment</h5>
                            <a routerLink="/Day7/Assignment1" routerLinkActive="btn-success" class="list-group-item list-group-item-action">Assignment 1</a>
                        </div>
                        <div class="list-group text-center py-2">
                            <h5 class="list-group-item bg-dark text-light ">Task</h5>
                            <a routerLink="/Day7/Practice1" routerLinkActive="btn-success" class="list-group-item list-group-item-action">Practice 1</a>
                            <a routerLink="/Day7/Practice2" routerLinkActive="btn-success" class="list-group-item list-group-item-action">Practice 2</a>
                            <!-- <a href="./d3_Practice3.html" class="list-group-item list-group-item-action">Practice 3</a> -->
                        </div>


                        <!-- <div class="list-group text-center py-2">
                            <h5 class="list-group-item bg-dark text-light">Video Practice</h5>
                            <a href="./d3_Exercise.html" class="list-group-item list-group-item-action">Exercise 1</a>
                        </div> -->

                </div>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <router-outlet ></router-outlet>
    </div>
</div>

