<div class="row">
  <div class="container">
      <div class="navbar navbar-expand-sm bg-light navbar-light fixed-top  shadow-lg mb-3">
          <a href="index.html" class="navbar-brand">RXTraining</a>
          <button class="navbar-toggler"data-toggle="collapse" data-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                      <a href="" class="nav-link">HOME</a>
                  </li>

                  <div class="dropdown">
                      <li class="nav-item" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" id="dropdownLink">
                          <a href="" class="nav-link">HTML</a>
                      </li>
                      <div class="dropdown-menu" aria-labelledby="dropdownLink">
                          <a routerLink="/Day3" routerLinkActive="active" class="dropdown-item">Day 3</a>
                      </div>
                  </div>
                  <div class="dropdown">
                      <li class="nav-item" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" id="dropdownLink">
                          <a href="" class="nav-link">CSS</a>
                      </li>
                      <div class="dropdown-menu" aria-labelledby="dropdownLink">
                          <a routerLink="/Day4" routerLinkActive="active" class="dropdown-item">Day 4</a>
                          <a routerLink="/Day5" routerLinkActive="active" class="dropdown-item">Day 5</a>
                          <a routerLink="/Day6" routerLinkActive="active" class="dropdown-item">Day 6</a>
                          <a routerLink="/Day7" routerLinkActive="active" class="dropdown-item">Day 7</a>
                          <a routerLink="/Day8" routerLinkActive="active" class="dropdown-item">Day 8</a>
                      </div>
                  </div>

                  <!-- <div class="dropdown">
                      <li class="nav-item" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" id="dropdownLink">
                          <a href="" class="nav-link">BOOTSTRAP</a>
                      </li>
                      <div class="dropdown-menu" aria-labelledby="dropdownLink">
                          <a href="/Training-Feb-2021/Modules/Bootstrap4/Day9/Jay Prajapati/bootstrap_sandbox_starter/2_2_basic_typography.html" class="dropdown-item" target="_blank">Day 9</a>
                          <a href="/Training-Feb-2021/Modules/Bootstrap4/Day10/Jay Prajapati/bootstrap_sandbox_starter/2_2_basic_typography.html" class="dropdown-item" target="_blank">Day 10</a>
                          <a href="/Training-Feb-2021/Modules/Bootstrap4/Day11/Jay Prajapati/index.html" class="dropdown-item" target="_blank">Day 11</a>
                          <a href="/Training-Feb-2021/Modules/Bootstrap4/Day12/Jay Prajapati/bs4starter/src/index.html" class="dropdown-item" target="_blank">Day 12</a>
                          <a href="" class="dropdown-item">Day 13</a>
                          <a href="" class="dropdown-item">Day 14</a>
                      </div>
                  </div> -->
                  <div class="dropdown">
                      <li class="nav-item" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" id="dropdownLink">
                          <a href="" class="nav-link">JavaScript</a>
                      </li>
                      <div class="dropdown-menu" aria-labelledby="dropdownLink">
                          <a routerLink="/Day15" routerLinkActive="active" class="dropdown-item" >Day 15</a>
                          <a routerLink="/Day16" routerLinkActive="active" class="dropdown-item" >Day 16</a>
                          <a routerLink="/Day17" routerLinkActive="active" class="dropdown-item" >Day 17</a>
                          <!-- <a routerLink="/Day18" routerLinkActive="active" class="dropdown-item" >Day 18</a> -->
                          <a routerLink="/Day19" routerLinkActive="active" class="dropdown-item">Day 19</a>
                          <a routerLink="/Day20" routerLinkActive="active" class="dropdown-item">Day 20</a>
                      </div>
                  </div>
                  <!-- <div class="dropdown">
                      <li class="nav-item" data-toggle="dropdown" aria-haspopup="true"
                          aria-expanded="false" id="dropdownLink">
                          <a href="" class="nav-link">jQuery</a>
                      </li>
                      <div class="dropdown-menu" aria-labelledby="dropdownLink">
                          <a href="" class="dropdown-item" target="_blank">Day 23</a>
                          <a href="" class="dropdown-item" target="_blank">Day 24</a>
                      </div>
                  </div> -->
              </ul>
          </div>
      </div>
  </div>
</div>
<div class="my-5"></div>

<router-outlet ></router-outlet>