body {
  padding: 1rem;
}
.card {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 2px 5px 10px rgb(160, 160, 160);
  border: 1px solid #dddddd;
  background-image: linear-gradient(to bottom right, #88bb55 15%, #f3f3f3 40%);
  transition: all 0.3s linear;
  padding-bottom: 1rem;
}
.card .col-md-4 {
  text-align: center;
  padding-top: 3rem;
}
.card .col-md-2 {
  text-align: center;
  padding-bottom: 2rem;
  /* border: 1px solid red; */
}
.card .col-md-2 div {
  padding-top: 0.6rem;
  padding-left: 1rem;
  padding-bottom: 2rem;
}
.card .col-md-2 div #btntoggle {
  border-radius: 50%;
  border-style: none;
  background-color: #ffc107;
}
.card .col-md-2 div #btntoggle:hover {
  background-color: #ffc107b6;
}
.card .col-md-2 div #btntoggle:active {
  background-color: #83650c;
}

.card .col-md-2 div #btndelete {
  border-radius: 50%;
  border-style: none;
  background-color: #dc3545;
  padding: 0;
  width: 1.5rem;
  margin-left: 0.5rem;
}
.card .col-md-2 div #btndelete:hover {
  background-color: #dc3546bb;
}
.card .col-md-2 div #btndelete:active {
  background-color: #86202a;
}

.card .col-md-2 div button i {
  font-size: 1rem;
  color: white;
  font-weight: bolder;
}

.card .col-md-4 img {
  border: 5px solid #3d5c1e;
  border-radius: 50%;
}
.card .card-title {
  padding-top: 1rem;
}
.card:hover {
  box-shadow: 2px 7px 18px rgb(141, 141, 141);
}
