@import "../../index.scss";

.tour{
    background: $mainGray;
    margin: 2rem 0;
    img{
        width: 100%;
        display: block;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        min-height: 13rem;
    }
}

@media screen and (min-width: 768px) {
    .tour{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-column-gap: 1rem;
    }
}

.city-img{
    position: relative;
}

.close-btn{
    position: absolute;
    display: block;
    top: 5%;
    right: 5%;
    color: $mainGreen;
    font-size: 2rem;
    cursor: pointer;
    transition: $mainTransition;
    opacity: 0;
}

.city-img:hover .close-btn{
    opacity: 1;
}

.tour-info{
    padding: 1rem 4.5rem;
    h3{
        text-transform: uppercase;
        color: $mainGreen;
    }
    h4{
        text-transform: capitalize;
        margin: 0.2rem 0 0.6rem 0;
    }
    h5{
        text-transform: capitalize;
        span{
            color: $mainGreen;
            margin: 0.5rem;
            font-size: 1.2rem;
            cursor: pointer;
        }
    }
}