<section class="py-4 m-4 ">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top py-1">
      <div class="container">
        <p>
              <img src="../assets/img/ng.png" alt="" height="50" width="50"><h3 class="d-inline align-middle text-light ">
                  ssignment Day11
              </h3>
            </p>
         
            <h5 class="text-light">Template Driven Form</h5>
        </div>
         
    </nav>
    </section>

    <app-temp-form></app-temp-form>
    




