<h3  class="text-center text-secondary font-italic">Product Detail with their Brands and Category</h3>

<div class="card m-2">
    <div class="card-header">
        Table to see All Products Details 
    </div>
    <div class="card-body table-responsive box1">

        <table class="table">
            <tbody *ngFor='let product of prodDetailList; let idx= index;'>
                <tr>
                    <th>productId </th>
                    <td> {{product.productId}} </td>
                </tr>
                <tr>
                    <th>productName</th>
                    <td> {{product.productName}} </td>
                </tr>
                <tr>
                    <th>brandName</th>
                    <td> {{product.brandName}} </td>
                </tr>
                <tr>
                    <th>categoryName</th>
                    <td> {{product.categoryName}} </td>
                </tr>
                <tr>
                    <td colspan="2" class="p-3 bg-light"></td>
                </tr>
              
            </tbody>
        </table>
    </div>

</div>

