<div class="row">
    <div class="column">
        <img src="assets/falls2.jpg" style="width: 100%;">
        <img src="assets/mist.jpg" style="width: 100%;">
        <img src="assets/mountainskies.jpg" style="width: 100%;">
        <img src="assets/nature.jpg" style="width: 100%;">
        <img src="assets/ocean.jpg" style="width: 100%;">
        <img src="assets/paris (1).jpg" style="width: 100%;">

    </div>
    <div class="column">
        <img src="assets/mist.jpg" style="width: 100%;">
    <img src="assets/paris (1).jpg" style="width: 100%;">
    <img src="assets/mist.jpg" style="width: 100%;">
    <img src="assets/mountainskies.jpg" style="width: 100%;">
    <img src="assets/rocks (1).jpg" style="width: 100%;">
    <img src="assets/falls2.jpg" style="width: 100%;">
    </div>
    

    <div class="column">
        <img src="assets/mist.jpg" style="width: 100%;">
    <img src="assets/paris (1).jpg" style="width: 100%;">
    <img src="assets/mist.jpg" style="width: 100%;">
    <img src="assets/mountainskies.jpg" style="width: 100%;">
    <img src="assets/rocks (1).jpg" style="width: 100%;">
    <img src="assets/falls2.jpg" style="width: 100%;">
    </div>
    
</div>