@import "~bootstrap/scss/bootstrap.scss";

.card {
  image {
    position: relative;
  }
  img#p1 {
    margin-left: 10px;
    margin-right: 80px;
  }
}
.card-footer {
  .b2 {
    margin-left: 55px;
  }
}
